<!--커스텀의 경우 덮어쓰기 , 웹폰트 ,색깔 등등 -->

@import url(https://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);
.navber-brand, h1, h2, h3, h4{
	font-family : 'Jeju Gothic';
}
h5{
	font-family:'Jeju Gothic';
	font-size :18px;
}
body {
	font-family: 'Nanum Gothic';
}
<!-- 부트스트랩같은 경우 로고같은걸 navbar-brnad로 정의 -->